/ title doc + title header + code KDO + txt btn global + mentions
-$title_document = "La légendaire Montre Sport Spirit Of Saint Louis® GRATUITE ! ";
-$header_txt1    = "La nouvelle collection est arrivée ! Découvrez la vite et recevez votre cadeau gratuit !";
-$header_txt2    = ["Si la page ne s'affiche pas correctement consultez la ","version en ligne"];
-$giftcode       = "Vos cadeaux du mois avec le code : BXWB";
/ title pck
-$titlePck_gris = ["Les ","du mois"];
-$titlePck_orange = ["nouveautés ","0"];
/ TXT btn global
-$txtGlobBtn = "Retrouvez tous nos produits ";
/ TXT ligne1 pk1-2-3sur3 + pk1-2sur2
/ pk1-2-3sur3
-$l1title_pck1sur3_txt = "Lampe LED col de cygne";
-$l1subti_pck1sur3_txt = "Pour tous les travaux de précision 8 embouts";
-$l1title_pck2sur3_txt = "Serre de potager";
-$l1subti_pck2sur3_txt = "Accélérez la croissance de vos légumes";
-$l1title_pck3sur3_txt = "Spray rénov' plastique/ bois 500 ml + recharge";
-$l1subti_pck3sur3_txt = "100 % naturel et biodégradable";
/ pk1-2sur2
-$l1title_pck1sur2_txt = "Nettoie pierre 500 ml";
-$l1subti_pck1sur2_txt = "Un coup de jeunes pour vos vieilles pierres.<br />Pour tout type de pierre.";
-$l1title_pck2sur2_txt = "Gilet sans manches patchwork";
-$l1subti_pck2sur2_txt = "1 poche intérieure et 2 extérieures. Coloris noir. Disponible en 6 tailles.";
-$btntxt = "en savoir";
/ mentions
-$legal1 = "*Votre cadeau vous est offert gratuitement, en fonction des stocks disponibles. Photos non contractuelles. En cas de rupture de stocks, Idées Homme se réserve le droit de remplacer votre cadeau par un article de valeur équivalente ou supérieure. Si vous ne souhaitez pas commander, vous pouvez envoyer votre demande, par courrier uniquement, à Idées Homme 59685 Roubaix Cedex 2, (6,99€ en carte Bancaire) pour la participation aux frais de mise à disposition.<br/>";
-$legal2 = "Les frais de traitements étant les mêmes que pour une commande livrée à domicile. Votre Cadeau vous sera expédié dans un délai de 3 mois maximum, les commandes étant prioritaires. ";
-$legal3 = "<br /><br /> ** 0.34€/mn tarif indicatif selon opérateur.";
-$legal4 = ["<br /> Chaque mois, retrouvez une collection pleine d'astuces et de nouveautés pour votre maison, jardin, mais aussi pour vous et votre bien être. Et parce que votre satisfaction est notre priorité, essayez nos produits sans hésitation, vous êtes enchanté ou remboursé ! A tout de suite sur ",'<a href="'+$linkLegalUrl_+'" target="_blank" style="color:#222222; ">www.ideeshomme.fr</a> !<br /><br />'];
-$legal5 = ["Merci de ne pas répondre à ce message. Si vous souhaitez contacter Idées Homme, cliquez sur : ",'<a href="'+$linkContact_+'" target="_blank" style="color:#222222; "><strong>Contact</strong></a>.<br />'];
-$legal6 = "Conformément à la loi informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et d'opposition aux informations vous concernant, qui peut s'exercer par la rubrique contact du site ou par courrier à Idées Homme - 59685 Roubaix cedex 2, en indiquant vos nom, prénom, adresse et n° client. <br /><br />";
-$legal7 = ["Si vous ne souhaitez plus recevoir les informations d'Idées Homme, cliquez pour vous ",'<a href="'+$linkDesabo_+'" target="_blank" style="color:#222222; ">désabonner</a>.<br />'];
-$legal8 = "DOMOTI SAS, capital de 100 000€ - RCS Lille B 342 883 758.";