table.mobile_320 width="682" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="margin: 0 auto;"
  tr
    td.mob_pd_bd_none align="center" style="border-right:1px solid #cbcbcb; border-left:1px solid #cbcbcb; "
      img.mob_img_320 width="662" height="14" border="0" src="images/foo_titleBottomSahdow.png" alt=""